<h1>Display form where i can fill in my email</h1>

<form action="/users/forgot_password" method="post">
    Email: <input type="text" name='email'>
    <input type="submit" value="Reset Password">
  </form>